<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enter FORM</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>enter Form</h1>
<form action="#" th:action="@{/enterform}" th:object="${enterform}" method="post">
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>First Name: <input type="text" th:field="*{firstName}" /></p>
    <p>Patronymic: <input type="text" th:field="*{patronymic}" /></p>
    <p>Your Salary: <input type="text" th:field="*{salary}" /></p>
    <p>e-mail: <input type="text" th:field="*{email}" /></p>
    <p>Job: <input type="text" th:field="*{job}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>