<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Congratulations!</h1>
<form action="#" th:action="@{/search}" th:object="${enterForm1}" method="post">
<p th:text="'isFind: ' + ${enterForm1.lastName} + ' ' + ${enterForm1.firstName}+
                ' ' + ${enterForm1.patronymic}+ ' ' + ${enterForm1.salary}+
                ' ' + ${enterForm1.email} +' ' + ${enterForm1.job}" />
    <p th:text="'date: ' + ${date}" />
    <p th:text="'user-agent: ' + ${user}" />
</form>
</body>
</html>